<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/indexStyle.css">
    <link rel="stylesheet" href="../styles/registerStyle.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Adicionar</title>
</head>

<body>
    <div class="container">

        <div id="content-update">

            <form action="" method="post">
                <div id="total-update">
                    <div id="update-name">
                        <label for="name">NOME</label>
                        <input type="text" alt="digitar nome" id="name">
                    </div>

                    <div id="update-quantity">
                        <label for="quantity">QUANTIDADE</label>
                        <input type="number" alt="digitar quantidade" id="quantity">
                    </div>
                </div>
            </form>

            <div id="update-buttons">
                <button id="save-button" title="salvar item">CRIAR</button>
                <a href="./index.html" id="back-button" title="Voltar para página inicial">VOLTAR</a>

            </div>
        </div>
    </div>
</body>

</html>