<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/indexStyle.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Listinha</title>
</head>

<body>

    <div class="container">
        <header>
            <div class="title">
                <h1>LISTINHA</h1>
            </div>
        </header>

        <main>
            <div class="content">
                <div class="total">
                    <div class="card">

                        <div class="product-name">
                            <h2>NOME</h2>
                            <p>Macarrão</p>
                        </div>

                        <div class="product-quantity">
                            <h2>QUANTIDADE</h2>
                            <p>4</p>
                        </div>


                        <div class="buttons">
                            <a href="./update.html" class="edit-button" title="editar item">
                                <img src="../images/Union.svg" alt="botão editar">
                            </a>

                            <button class="delete-button" onclick="stateDelete('choose-delete')" title="deletar item">
                                <img src="../images/Vector.svg" alt="botão deletar">
                            </button>
                        </div>


                    </div>
                    <div class="last-line"></div>
                </div>

                <div class="total">
                    <div class="card">

                        <div class="product-name">
                            <h2>NOME</h2>
                            <p>Saco de feijão</p>
                        </div>

                        <div class="product-quantity">
                            <h2>QUANTIDADE</h2>
                            <p>3</p>
                        </div>


                        <div class="buttons">
                            <a href="./update.html" class="edit-button" title="editar item">
                                <img src="../images/Union.svg" alt="botão editar">
                            </a>

                            <button class="delete-button" onclick="stateDelete('choose-delete')" title="deletar item">
                                <img src="../images/Vector.svg" alt="botão deletar">
                            </button>
                        </div>

                    </div>
                    <div class="last-line"></div>
                </div>

                <div id="add-button">
                    <a href="./add.html" id="add-button" title="adicionar item">
                        ADICIONAR
                    </a>
                </div>



            </div>
        </main>

        <div id="choose-delete" style="display: none;">
            <h1>Você tem certeza que quer deletar esse item?</h1>
            <button class="alternative-delete" onclick="alternatives(this.value)" value="yes">Sim</button>
            <button class="alternative-delete"onclick="alternatives(this.value)" value="no">Não</button>
        </div>
    </div>

    <script src="../Scripts/index.js"></script>
</body>

</html>