* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-background: #D0AF84;
    --color-text: #966C3B;
    --color-box: #FFE6CA;
    --color-title: var(--color-box);
}

body {
    background-color: var(--color-background);
    font-family: 'Roboto', sans-serif;
    color: var(--color-text);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.title {
    color: var(--color-title);
    font-size: 2rem;
    margin: 2rem 0 5rem 0;
    width: 100%;
    align-items: center;
}

.content {
    display: flex;
    width: 100vh;
    flex-direction: column;
    background-color: var(--color-box);
}
.total {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0.1rem 0 0 0;
   
}

.card h2 {
    font-size: 1rem;
}

.card p {
    font-size: 1.5rem;
    margin-top: 0.7rem;
}

.product-name {
    width: 80%;
    height: 4.5rem;
    
}

.product-quantity {
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3rem;
}

.last-line {
    background-color: var(--color-background);
    width: 90%;
    height: 0.2rem;
    margin-bottom: 1rem;
}

.delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    margin-top: 0.5rem;
}

#add-button {
    display: flex;
    flex-direction:row-reverse;
    height: 15rem;
}

#add-button a{
    text-decoration: none;
    color: var(--color-text);
    font-size: 1.5rem;
    margin:  2rem 3.5rem 0 0;
    text-align: right;

}

#choose-delete {
    
    position: absolute;
    top: 20rem;
    left: 32rem;
    background-color: var(--color-box);
    border: solid var(--color-background);
    width: 20rem;
    text-align: center;
    
}

#choose-delete h1{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.alternative-delete {
    font-size: 15px;
    border: none;
    background-color: var(--color-text);
    color: var(--color-background);
    width: 4rem;
    height: 2rem;
    margin: 0 4px 6px 0;
    cursor: pointer;
}

.alternative-delete:hover {
    
    transition: 300ms;
    color: var(--color-text);
    background-color: #d8ad7d;
}

/*#sure-button{
    background-color: var(--color-background);
    width: 30rem;
    height: 150px;
    position: relative;
    margin-top: -130px;
    margin-left: 50%;
  
    
}*/

@media screen and (max-width: 1195px) {
    .title {
        font-size: 20px;
    }
    
    .content {
        width: 45rem;  
    }

    .card h2 {
        font-size: 20px;
    }

    .card p {
        font-size: 20px;
    }

    .buttons img {
        width: 20px;
    }

    #add-button a {
        font-size: 20px;
    }
}

@media screen and (max-width: 790px) {
    .title {
        font-size: 14px;
    }
    
    .content {
        width: 25rem;  
    }

    .card h2 {
        font-size: 15px;
    }

    .card p {
        font-size: 15px;
    }

    .buttons img {
        width: 14px;
    }

    #add-button a {
        font-size: 14px;
    }
}





@media screen and (max-width: 470px) {
    .title {
        font-size: 14px;
    }
    
    .content {
        width: 20rem;  
    }

    .card h2 {
        font-size: 10px;
    }

    .card p {
        font-size: 10px;
    }

    .buttons img {
        width: 14px;
    }


    #add-button a {
        font-size: 10px;
    }
}
