* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-background: white;
    --color-text: #636363;
    --color-title: black;
}

body {
    display: flex;
    background-color: var(--color-background);
    font-family: 'Roboto', sans-serif;
    color: var(--color-title);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.title {
    color: var(--color-title);
    font-size: 2rem;
    margin: 2rem 0 5rem 0;
    width: 100%;
    align-items: center;
}

.content {
    border: solid 2px;
    display: flex;
    width: 100vh;
    flex-direction: column;
    background-color: var(--color-background);
}
.total {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 1rem 0 0 0;
   
}

.card h2 {
    font-size: 1rem;
}

.card p {
    font-size: 1.5rem;
    margin-top: 0.7rem;
    color: var(--color-text);
}

.product-name {
    width: 80%;
    height: 4.5rem;
    
}

.product-quantity {
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3rem;
}

.last-line {
    background-color: var(--color-title);
    width: 90%;
    height: 0.2rem;
    margin-bottom: 1rem;
}

.delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    margin-top: 0.5rem;
}

#add-button {
    display: flex;
    flex-direction:row-reverse;
    height: 15rem;
}

#add-button a{
    text-decoration: none;
    color: var(--color-title);
    font-size: 1.5rem;
    margin:  2rem 3.5rem 0 0;
    text-align: right;

}

#choose-delete {
   
    
    position: absolute;
    top: 20rem;
    align-items: center;
    background-color: var(--color-background);
    border: solid 2px;
    width: 400px;
    text-align: center;
    
}

#choose-delete h1{
    font-size: 20px;
    text-align: center;
    margin-bottom: 2rem;
}

.alternative-delete {
    font-size: 15px;
    border: none;
    background-color: var(--color-text);
    color: var(--color-background);
    width: 60px;
    height: 40px;
    margin: 0 4px 6px 0;
    cursor: pointer;
}

.alternative-delete:hover {
    
    transition: 300ms;
    color: var(--color-text);
    background-color: var(--color-background);
    border: solid 1px;
}


@media screen and (max-width: 1195px) {
    .title {
        font-size: 20px;
    }
    
    .content {
        width: 45rem;  
    }

    .card h2 {
        font-size: 20px;
    }

    .card p {
        font-size: 20px;
    }

    .buttons img {
        width: 20px;
    }

    #add-button a {
        font-size: 20px;
    }

    
}

@media screen and (max-width: 790px) {
    .title {
        font-size: 14px;
    }
    
    .content {
        width: 25rem;  
    }

    .card h2 {
        font-size: 15px;
    }

    .card p {
        font-size: 15px;
    }

    .buttons img {
        width: 14px;
    }

    #add-button a {
        font-size: 15px;
    }

    #choose-delete {
        width: 250px;
    }

    #choose-delete h1 {
        font-size: 15px;
    }

    .alternative-delete {
        width: 40px;
        height: 30px;
    }

    .product-name {
        height:3.5rem;
    }
}





@media screen and (max-width: 470px) {
    .title {
        font-size: 14px;
    }
    
    .content {
        width: 20rem;  
    }

    .card h2 {
        font-size: 10px;
    }

    .card p {
        font-size: 10px;
    }

    .buttons img {
        width: 14px;
    }
    .delete-button {
        margin-top: 1px;
    }


    #add-button a {
        font-size: 10px;
    }

    .product-name {
        height: 2.8rem;
    }
}

@media screen and (max-width: 350px) {
    .title {
        font-size: 14px;
    }
    
    .content {
        width: 15rem;  
    }

    .card h2 {
        font-size: 10px;
    }

    .card p {
        font-size: 8px;
    }

    .buttons img {
        width: 14px;
    }

    #choose-delete {
        width: 225px;
    }

    #choose-delete h1 {
        font-size: 15px;
    }

    .alternative-delete {
        width: 40px;
        height: 30px;
    }
}
