:root {
    --color-background: white;
    --color-text: #636363;
    --color-title: black;
    --color-input: var(--color-background);
}

#content-update {
    display: flex;
    width: 70rem;
    height: 30rem;
    margin-top: 6rem;
    flex-direction: column;
    background-color: var(--color-background);
    border: solid 1px;
}

#total-update {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
}

#update-name {
    display: flex;
    flex-direction: column;
    width: 50rem;
}

#update-quantity {
    display: flex;
    flex-direction: column;
    width: 50rem;
    margin-top: 2rem;
}

label {
    margin-bottom: 1rem;
    font-size: 25px;
}

input {
    font-size: 25px;
    color: var(--color-text);
    border: solid 1px var(--color-title);
    background-color: var(--color-input);
    height: 2.5rem;
}


#update-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}

#save-button {
    font-size: 1.7rem;
    border: none;
    cursor: pointer;
    overflow:  hidden;
    background-color: transparent;
    color: var(--color-title);
}

#back-button {
    text-decoration: none;
    color: var(--color-title);
    font-size: 1.7rem;
}

@media screen and (max-width: 1165px) {
    #content-update  {
        width: 40rem;
    }

    #update-name {
        width: 30rem;
    }

    #update-quantity {
        width: 30rem;
    }

    input {
        width: 30rem;
    }
}

@media screen and (max-width: 885px) {
    #content-update  {
        width: 25rem;
    }

    #update-name {
        width: 20rem;
    }

    #update-quantity {
        width: 20rem;
    }

    input {
        width: 20rem;
        font-size: 18px;
    }

    label {
        font-size: 20px;
    }
}

@media screen and (max-width: 550px) {
    #content-update  {
        width: 20rem;
    }

    #update-name {
        width: 18rem;
    }

    #update-quantity {
        width: 18rem;
    }

    input {
        width: 18rem;
        font-size: 15px;
    }

}

@media screen and (max-width: 470px) {
    #content-update  {
        width: 15rem;
    }

    #update-name {
        width: 14rem;
    }

    #update-quantity {
        width: 14rem;
    }

    input {
        width: 14rem;
        font-size: 12px;
    }

    label {
        font-size: 15px;
    }

    #save-button {
        font-size: 15px;
    }

    #back-button {
        font-size: 15px;
    }
}